# -- PY Stuff --
__pycache__/
*.py[cod]
*$py.class
build/
develop-eggs/
dist/
sdist/
wheels/
share/python-wheels/
*.egg-info/


# -- Flask Stuff --
instance/
.webassets-cache
*.db


#  -- ENV Stuff --
.env
.venv
env/
venv/
