{% extends "layouts/base.html" %}

{% block title %}Your Dashboard - AutoCord{% endblock %} 

{% block body %}
<section class="body">
<div class="container">
    <div class="columns">
        <div class="column">
            <figure class="image is-128x128">
                <img class="is-rounded" src="{{ current_user.pfp }}">
            </figure>
            <h1 class="title">Welcome {{ current_user.name }}!</h1>
            <h3 class="subtitle">Your AutoCord Dashboard</h3>
        </div>
    </div>
</div>
</section>
{% endblock %}