{% extends "layouts/base.html" %}

{% block title %}Your Dashboard - AutoCord{% endblock %}

{% block body %}
<section class="body">
<div class="container">
    <div class="card" style="background-color: #0a0a0a">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded" src="{{ current_user.pfp }}">
                </figure>
            </div>
            <div class="media-content v">
                <p class="title">Welcome {{ current_user.name }}!</p>
                <p class="subtitle">Your AutoCord Dashboard</p>
            </div>
            <div class="media-right">
                <h3 class="is-3">
                    <b>Admin:</b>&nbsp;
                    <span class="tag is-{{ status_color(current_user.is_admin) }}">
                    {{ current_user.is_admin }}</span>
                </h3>
            </div>   
        </div>

        <div class="container">
            <article class="message is-dark">
                <div class="message-header">
                    <p>Your Bots</p>
                </div>
                <div class="message-body darken">
                    {% if len(current_user.bots) == 0 %}
                    <h1 class="subtitle">You haven't submitted any Bots yet!</h1>
                    <a class="button is-danger is-fullwidth" href="/submit">
                        <i class="mdi mdi-robot"></i>&nbsp;
                        Click here to create one!
                    </a>
                    {% else %}
                    {% for bot in current_user.bots %}
                        <a class="button is-info" href="/b/{{ bot.client_id }}">{{ bot.name }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
            </article>

            <article class="message is-info">
                <div class="message-header">
                    <p>Your Notifications</p>
                </div>
                <div class="message-body darken">
                    {% for notif in notifs %}
                    <div class="notification is-dark">
                        <button class="delete"></button>
                        <h3 class="subtitle">{{ notif.title }}</h3>
                        {{ notif.body }}
                    </div>
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>
    </div>
</div>
</section>
{% endblock %}
