{% extends "layouts/base.html" %}

{% block title %}Info - AutoCord{% endblock %}

{% block body %}
<section class="body">
<div class="container" style="width: 60%">
    <h1 class="title">Information</h1>
    <p class="content" style="font-size: 18px">
        AutoCord is a manager for user-created Discord&trade; bots on the Repl.it server. 
        Because the Repl.it Discord server is primarily a programming and coding server,
        we allow users to submit bots that they've created and invite them for learning and 
        expirimentation. AutoCord exists to automate and organize the submission process, 
        and to allow you to manage your submitted bots.
    </p>
    <h1 class="title">Submitting</h1>
    <p class="content" style="font-size: 18px">
        In order to submit a Discord bot to the Repl.it server, you'll need to login to 
        AutoCord with your Discord account, and create a new submission. You need to
        provide a few details:
        <ul class="content">
            <li><i class="mdi mdi-plus"></i>&nbsp;<b>Your Bot's Name</b></li>
            <li><i class="mdi mdi-plus"></i>&nbsp;<b>Your Bot's Prefix</b> (i.e "<b>c!</b>")</li>
            <li>
                <i class="mdi mdi-plus"></i>&nbsp;<b>Your Bot's Permissions</b>
                (This should be "<i><b>0</b></i>", contact Zwack for exceptions).
            </li>
            <li>
                <i class="mdi mdi-plus"></i>&nbsp;<b>Your Bot's Source Code</b>
                (This is usually a REPL, but it can also be a GitHub repo.
                Also, if you aren't comfortable with sharing you bot's code,
                you can make it private again after getting your bot approved.)
            </li>
            <li>
                <i class="mdi mdi-plus"></i>&nbsp;A brief description of what
                your bot does, and why you want to add it to the Repl.it 
                server. Be creative! ;)
            </li>
        </ul>
    </p>
    <p class="content">
        Here's a complete example of a Bot Submission: 
        <article class="message is-black">
        <div class="message-header">
            <p><i class="mdi mdi-discord"></i>&nbsp;AutoCord</p>
        </div>
        <div class="message-body">
        <div class="columns">
            <div class="column is-one-fifth">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="../static/img/icon2.png">
                </figure>
            </div>
            <div class="column">
                <h4 class="is-4"><b>Bot Name:</b>&nbsp;AutoCord</h4>
                <h4 class="is-4"><b>Bot Prefix:</b>&nbsp;a&</h4>
                <h4 class="is-4"><b>Bot Permissions:</b>&nbsp;0 - Send Messages</h4>
                <h4 class="is-4"><b>Bot Description:</b></h4>
                <h4 class="is-4">
                    AutoCord is a bot created to help manage the submission of
                    user bots within the Repl.it Discord Server!
                </h4>
            </div>
        </div>
        </div>
        </article>
    </p>
</div>
</section>
{% endblock %}