{% extends "layouts/base.html" %}

{% block title %}Rules and Guidlines - AutoCord{% endblock %}

{% block body %}
<section class="body">
<div class="container" style="width: 60%">
    <h1 class="title">Rules</h1>
    <p class="content" style="font-size: 18px">
        These are things that any bot <i>must</i> do in order to be added to the Repl.it Discord server.
    </p>
    <p class="content" style="font-size: 18px">
        <ul class="content">
            <li><i class="mdi mdi-plus"></i>&nbsp;A bot must follow all the server's rules. If a member isn't allowed to do something, a bot isn't either. This includes (but is not limited to) no bad language, no spamming, and no inappropriate content.</li>
            <li><i class="mdi mdi-plus"></i>&nbsp;A bot should never send any message unless explicitly triggered by a command. This means any features such as deleted message logging or level-up messages should be disabled for the Repl.it server.</li>
            <li><i class="mdi mdi-plus"></i>&nbsp;A bot must be open source. This is to ensure that it is not malicious.</li>
        </ul>
    </p>
    <h1 class="title">Guidelines</h1>
    <p class="content" style="font-size: 18px">
        These are things that are strongly recommended for bots to do, but they don't have to.
    </p>
    <p class="content" style="font-size: 18px">
        <ul class="content">
            <li><i class="mdi mdi-plus"></i>&nbsp;A bot should have a very obvious point of entry. The best way to do this is to have a help command in its status.</li>
            <li><i class="mdi mdi-plus"></i>&nbsp;A bot should not ping users unless absolutely necessary.</li>
            <li><i class="mdi mdi-plus"></i>&nbsp;A bot should have a customisable prefix to ensure that no two bots have the same prefix. The ideal solution is for a bot's prefix to be its @mention.</li>
        </ul>
    </p>
</div>
</section>
{% endblock %}